- page_title @event.name
- page_subtitle "Vote on papers submitted through the CFP process"

.box.no-data
  %icon.is-large
    %i.far.fa-thumbs-up.fa-3x
  %h3.subtitle
    Thanks &mdash; your votes have been received and will be counted as part of our overall tally.
