.card
  %header.card-header
    %p.card-header-title Using Bulma for fun and profit
  .card-content
    .media
      .media-left
        %span.icon
          %i.fas.fa-bullhorn
      .media-content
        In this talk, we'll look at using the Bulma CSS Framework. Bulma is a light-ish-weight framework in
        the style of Bootstrap. We'll be looking at using Bulma for quickly getting an application up,
        running and looking great.

    .media
      .media-left
        %span.icon
          %i.fas.fa-user
      .media-content
        Dan is a Rails engineer with a decade of experience under his belt. Currently Head of Development
        at aTech Media he's an expert at shaping the development of SaaS applications.

  .card-footer
    .card-footer-item
      %span.icon
        %i.fas.fa-star
      %span.icon
        %i.fas.fa-star
      %span.icon
        %i.far.fa-star
