%table.table.is-striped.is-hoverable
  %thead
    %tr
      %th.has-text-right #
      %th Title
      %th E-mail
      %th
      %th.has-text-centered Duration
      %th.has-text-right Avg. Rating
      %th

  - if submissions.shortlisted.exists?
    %tbody.shortlist{class: "available-slots-#{event.available_slots}"}
      = render collection: submissions.shortlisted.by_shortlist_status.by_popularity, as: :submission, partial: 'submissions/table_row'
  %tbody
    = render collection: submissions.not_shortlisted.by_popularity, as: :submission, partial: 'submissions/table_row'
