/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

.is-margin-auto {
  margin: 0 auto !important;
}

.card ~ .card {
   margin-top: 1.5rem;
}

.form-footer {
  margin-top: 1.5rem;
}

.main-body {
   min-height: 50rem;
}

.rating-widget {
  cursor: pointer;
  width: 100%;
}

.no-data {
  text-align: center;
  padding: 17.5rem 0 17.5rem 0;
}

.comments {
  margin-top: 1.5rem;
}

.comment-rating {
  width: 9rem;
  text-align: center;
}

tbody.shortlist {
  tr {
    counter-increment: rowNumber;

    th.position::before {
      content: counter(rowNumber);
    }
  }
}

@for $availableSlots from 1 to 50 {
  $lastSubmission: $availableSlots + 1;

  tbody.available-slots-#{$availableSlots} {
    tr:nth-child(n+#{$lastSubmission}) {
      th.position::before {
        color: $grey-light;
      }
    }
  }
}


tbody + tbody {
  border-top: dotted 2px $grey-lighter;
}

.clock {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(-90deg);

  background: $grey-lighter;
  border-radius: 50%;

  overflow: hidden;
}

.clock-face {
  fill: $grey-lighter;
  stroke: $cyan;
  stroke-width: 100;
  //stroke-dasharray: 40 314; // 314 is ~ 2 * pi (50) * circle radius (50)
}

.submission-duration {
  display: flex;
  align-items: center;

  .clock {
    margin-right: 0.75rem;
  }
}

.floating-button-row {
  position: fixed;
  left: 0;
  bottom: 2rem;
  width: 100%;
  pointer-events: none;
}

.floating-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.floating-button-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
  width: 4rem;

  background-color: $link;
  color: $white;
  border-radius: 50%;
  box-shadow: $box-shadow;
  pointer-events: initial;
}

.floating-button-link:hover {
  background-color: darken($link, 3);
  color: $white;
}

.floating-button-link:active {
  background-color: darken($link, 5);
  color: $white;
}

.floating-button-label {
  color: $white;
  background-color: $grey-dark;
  font-size: $size-7;
  padding: 8px;
  border-radius: $radius;
  margin-right: 8px;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease;
}

.floating-button-link:hover + .floating-button-label {
  visibility: visible;
  opacity: 1;
}
