/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

.is-margin-auto {
  margin: 0 auto !important;
}

.card ~ .card {
   margin-top: 1.5rem;
}

.form-footer {
  margin-top: 1.5rem;
}

.main-body {
   min-height: 40rem;
}

.rating-widget {
  cursor: pointer;
  width: 100%;
}

.no-data {
  text-align: center;
  padding: 17.5rem 0 17.5rem 0;
}

.comments {
  margin-top: 1.5rem;
}

.comment-rating {
  width: 9rem;
  text-align: center;
}

tbody.shortlist {
  tr {
    counter-increment: rowNumber;

    th.position::before {
      content: counter(rowNumber);
    }
  }
}

@for $availableSlots from 1 to 50 {
  $lastSubmission: $availableSlots + 1;

  tbody.available-slots-#{$availableSlots} {
    tr:nth-child(n+#{$lastSubmission}) {
      th.position::before {
        color: $grey-light;
      }
    }
  }
}


tbody + tbody {
  border-top: dotted 2px $grey-lighter;
}

.clock {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(-90deg);

  background: $grey-lighter;
  border-radius: 50%;

  overflow: hidden;
}

.clock-face {
  fill: $grey-lighter;
  stroke: $cyan;
  stroke-width: 100;
  //stroke-dasharray: 40 314; // 314 is ~ 2 * pi (50) * circle radius (50)
}

.submission-duration {
  display: flex;
  align-items: center;

  .clock {
    margin-right: 0.75rem;
  }
}
